<main class="flex flex-col gap-5">
    <div class="w-full">
        <div class="flex justify-between">
            <div class="font-bold text-[17px]">profile language</div>
            <button class=""><app-edit-button></app-edit-button></button>
        </div>
        <div class="text-gray-500 text-[17px]">english</div>
    </div>
    <div>
        <div class="flex justify-between">
            <div class="font-bold">Public profile & URL</div>
            <button><app-edit-button></app-edit-button></button>
        </div>
        <div class="text-gray-500 text-[15px]">www.linkedin.com/in/ngtest-admin-8a66902aa</div>
    </div>
</main>