
    <div class="bg-gray-300 rounded-t-lg relative w-full h-40">
        <div class="flex justify-end">
            <div class="bg-white w-10 h-10 rounded-full text-center m-5 z-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="lightblue" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-5 mt-2 ml-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
                </svg>
            </div>
        </div>
        <img class="w-full h-full rounded-t-lg absolute top-0" src="./../../../../assets/images.jpeg" alt="">
            
        <app-image [width]="'w-40 rounded-full absolute top-16 left-5'"></app-image>
    </div>
    <div class="pt-5">
        <div class="w-full"><app-edit-button class="flex justify-end pr-5"></app-edit-button></div>
        <div class="p-5 w-full">
            <h1 class="font-bold text-xl">Test Account</h1>
            <p>C++ developper at google</p>
            <p>levelX</p>
            <p>Kozhikode, Kerala, India, Contact info</p>
            <div class="w-full sm:w-2/3 flex justify-start gap-3">
                <button class="w-[30%] h-9 bg-blue-600 rounded-full font-bold text-white">Open to</button>
                <button class="border h-9 w-[10rem] sm:w-[60%] lg:w-[50%] border-blue-600 rounded-full font-bold text-blue-600">Add profile section</button>
                <button class="border h-9 w-[15%] sm:w-[20%] border-blue-600 rounded-full font-bold text-gray-500">More</button>
            </div>
        </div>
    </div>
