<main class="flex flex-col gap-5">
    <div class="w-full">
        <div class="flex justify-between">
            <div class="font-bold">prifile language</div>
            <button class=""><app-edit-button></app-edit-button></button>
        </div>
        <div>english</div>
    </div>
    <div>
        <div class="flex justify-between">
            <div class="font-bold">prifile language</div>
            <button><app-edit-button></app-edit-button></button>
        </div>
        <div>english</div>
    </div>
</main>